# Server-side only: do not copy these values into the React/Vite .env file.
WC_API_URL=https://darkslateblue-dotterel-481044.hostingersite.com/wp-json/wc/v3
WC_CONSUMER_KEY=ck_fea2ca417751b4d671e92408813d7a1a99561701
WC_CONSUMER_SECRET=cs_13a6af0df82a5852efe46eea28aeca38aa004035
PORT=5000
